.main {
    justify-content: center;
}

.btnOne {
    justify-content: left;
}

.btnTwo {
    justify-content: right;
}

.textbox {
    padding: 10px;
    width: 250px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;

}

#btnSearch {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    background: rgb(110, 212, 255);
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

#weatherList {
    justify-content: right;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    background: rgb(110, 212, 255);
    color: black;
    font-family: 'Noto Sans', sans-serif;
}